<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhieco.mapper.BankCardMapper">
<select id="queryBankCardInfoByUserId" resultType="com.qhieco.response.data.api.UserWithdrawAmountRepData">
        SELECT tbc.id bankcardId, tbc.bank bankName, tbc.bank_number bankNumber  from t_bank_card tbc
            WHERE tbc.mobile_user_id=#{userId} AND tbc.state=#{state} LIMIT 1;
    </select>
</mapper>