<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhieco.mapper.FileMapper">
<select id="queryFileListByParklotId" resultType="com.qhieco.commonentity.File">
        SELECT tf.`name`, tf.`path`, tf.`intro`, tf.`state`, tf.`create_time` createTime FROM t_file tf INNER JOIN b_parklot_file bpf
        ON tf.`id`=bpf.`file_id` WHERE parklot_id=#{parklotId} AND bpf.`state`=1;
    </select>
</mapper>