<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhieco.mapper.OrderRefundMapper">
<select id="queryRefundOrderListByCondition" resultType="com.qhieco.time.OrderRefundInfo">
        SELECT tor.id refundId, tor.serial_number serialNumber, tor.order_parking_id orderId, tor.fee fee, tor.channel channel, top.trade_no orderTradeNo
        from t_order_refund tor INNER JOIN t_order_parking top ON top.id=tor.order_parking_id WHERE tor.state=#{processing}
    </select>
</mapper>