<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhieco.mapper.LogLockMapper">
    <select id="queryLockLogInfo" resultType="com.qhieco.response.data.api.LogLockInfoData">
        SELECT tll.`rocker_state` rockerState, tll.`battery` battery , tll.`lock_id` lockId FROM t_log_lock tll WHERE tll.`lock_id`=#{lockId}
         AND tll.`create_time`>UNIX_TIMESTAMP(NOW())*1000-#{time} ORDER BY id DESC LIMIT 1
    </select>
</mapper>